// Place all the styles related to the Menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  margin: 16px !important;
}

.hr {
  height: 1px;
  border: 0px;
  border-bottom: 1px solid #ddd;
}

a {
  margin: 10px !important;
}