// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_mixins';

.cart_info:hover {
  background: #f6ffd6;
}

.cart_info {
  margin: 20px 10px 20px 0;
  padding: 10px 0;
  border-bottom: 1px dotted #eee;
  width: auto;

  .price {
    color: black;
    font-weight: bold;
  }
  .name {
    color: #6a430a;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
  }
  .price--container {
    line-height: 38px;
  }
  .amount--container {
    margin: 6px auto;
  }
  .name--container {
    line-height: 38px;
  }
  .btn--container {
    margin: 4px auto;
  }
  .notice {
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    top: 35px;
    right: -170px;
    line-height: normal;
    z-index: 1;
    display: none;
    box-shadow:rgba(80, 80, 80, 0.2) 3px 3px 8px 0px;
    -webkit-box-shadow:rgba(80, 80, 80, 0.2) 3px 3px 8px 0px;
    -moz-box-shadow:rgba(80, 80, 80, 0.2) 3px 3px 8px 0px;
  }
  @include menu_image;
}
